html {
  background: #4DB6AC;
}

.title {
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
}


.bottom-text-container {
  margin: auto;
  width: 630px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.score {
  display: block;
  float: left;
}

.color-timer {
  display: block;
  float: right;
}
