.game-window {
  position: relative;
  background: yellow;
}

.row {
  margin: auto;
  width: 600px;

  border-left: 4px solid #000;
  border-right: 4px solid #000;
}

.row:first-child {
  border-top: 4px solid #000;
}

.row:last-child {
  border-bottom: 4px solid #000;
}

.row > li {
  box-sizing: border-box;
  display: block;
  float: left;
  width: 30px;
  height: 30px;

  /*border: 1px solid gray;*/
}

.pause-screen {
  display: block;
  position: absolute;
  float: left;

  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 64px;
  margin: auto;
  height: 40px;
  font-weight: 700;
}

.not-paused {
  display: none;
}
