.row {
  margin: auto;
  width: 600px;

  border-left: 4px solid #000;
  border-right: 4px solid #000;
}

.row:first-child {
  border-top: 4px solid #000;
}

.row:last-child {
  border-bottom: 4px solid #000;
}

.row > li {
  box-sizing: border-box;
  display: block;
  float: left;
  width: 30px;
  height: 30px;

  /*border: 1px solid gray;*/
}

.snake {
  background: blue;
}

.apple {
  background: red;
}
