.apple {
  background: red;

  border-radius: 50%;
}

.snake {
  background: blue;
}

.white-snake {
  background: white;
}
/*
.red {
  background: red;
}

.yellow {
  background: yellow;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.orange {
  background: orange;
}*/

.snake-head {
  background: black;
}
