.apple {
  background: #f44336;

  border-radius: 50%;
}

.white-snake {
  background: #3949ab;
}

.snake {
  background: #f44336;
}

.snake-head {
  background: black;
}

.snake-head-north {
  background: blue;
}

.snake-head-south {
  background: yellow;
}

.snake-head-east {
  background: red;
}

.snake-head-west {
  background: green;
}
