.apple {
  background: #F44336;

  border-radius: 50%;
}

.white-snake {
  background: #3949AB;
}

.snake {
  background: #F44336;
}
/*
.red {
  background: red;
}

.yellow {
  background: yellow;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.orange {
  background: orange;
}*/

.snake-head {
  /*background-image: url("../images/diana_snakecharacter_tut_35.jpg");*/
  background: black;
  /*border-top-left-radius: 50%;
  border-top-right-radius: 50%;*/
}

.snake-head-north {
  background: blue;
}

.snake-head-south {
  background: yellow;
}

.snake-head-east {
  background: red;
}

.snake-head-west {
  background: green;
}
